/* SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause) */

/dts-v1/;

#include <dt-bindings/gpio/nvidia,tegra238-gpio.h>

#include "tegra238.dtsi"

/ {
	model = "NVIDIA Tegra238 E2426-1099+E2423-1099";
	compatible = "nvidia,e2426-1099+e2423-1099", "nvidia,tegra238";

	bus@0 {
		uarta: serial@3100000 {
			status = "okay";
		};

		xusb_padctl@3520000 {
			vclamp-usb-supply = <&e2426_vdd_1v8_slt>;
			avdd-usb-supply = <&e2426_vdd_3v3_slt>;
			status = "okay";

			pads {
				usb2 {
					lanes {
						usb2-0 {
							nvidia,function = "xusb";
							status = "okay";
						};
						usb2-1 {
							nvidia,function = "xusb";
							status = "okay";
						};
						usb2-2 {
							nvidia,function = "xusb";
							status = "okay";
						};

					};
				};
				usb3 {
					lanes {
						usb3-0 {
							nvidia,function = "xusb";
							status = "okay";
						};
					};
				};
			};

			ports {
				usb2-0 {
					mode = "peripheral";
					vbus-supply = <&battery_reg>;
					status = "okay";
				};
				usb2-1 {
					mode = "host";
					vbus-supply = <&e2426_vdd_usb3_0_5v0>;
					status = "okay";
				};
				usb2-2 {
					mode = "host";
					vbus-supply = <&e2426_vdd_usb3_2_5v0>;
					status = "okay";
				};
				usb3-0 {
					nvidia,usb2-companion = <1>;
					status = "okay";
				};
			};
		};

		xudc@3550000 {
			phys = <&{/bus@0/xusb_padctl@3520000/pads/usb2/lanes/usb2-0}>;
			phy-names = "usb2-0";
			nvidia,xusb-padctl = <&xusb_padctl>;
			status = "okay";
		};

		xhci@3610000 {
			phys = <&{/bus@0/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
				<&{/bus@0/xusb_padctl@3520000/pads/usb2/lanes/usb2-2}>,
				<&{/bus@0/xusb_padctl@3520000/pads/usb3/lanes/usb3-0}>;
			phy-names = "usb2-1", "usb2-2", "usb3-0";
			nvidia,xusb-padctl = <&xusb_padctl>;
			status = "okay";
		};
	};

	battery_reg: regulator-vdd-ac-bat {
		compatible = "regulator-fixed";
		regulator-name = "vdd-ac-bat";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	e2426_vdd_AO_3v3: regulator-vdd-ao-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-AO-3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	e2426_vdd_5v0_sys: regulator-vdd-5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vdd-5v0-sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	e2426_vdd_3v3_slt: regulator-vdd-3v3-slt {
		compatible = "regulator-fixed";
		regulator-name = "vdd-3v3-slt";
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	e2426_vdd_1v8_slt: regulator-vdd-1v8-slt {
		compatible = "regulator-fixed";
		regulator-name = "vdd-1v8-slt";
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	e2426_vdd_usb3_0_5v0: regulator-vdd-usb3-0-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-usb3-0-5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&e2426_vdd_5v0_sys>;
		gpio = <&tegra_main_gpio TEGRA238_MAIN_GPIO(T, 6) 0>;
		gpio-open-drain;
		enable-active-high;
	};

	e2426_vdd_usb3_2_5v0: regulator-vdd-usb3-2-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-usb3-2-5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&e2426_vdd_5v0_sys>;
		gpio = <&tegra_main_gpio TEGRA238_MAIN_GPIO(T, 7) 0>;
		gpio-open-drain;
		enable-active-high;
	};
};
